.project_card {
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden; 
  }
  
  .project_card:hover {
    transform: scale(1.1);
  }
  
  .project_card_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease; 
    visibility: hidden;
  }
  
  .project_card:hover .project_card_overlay {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5); 
  }

  .btn_overlay{
    border: none;
  }
  .btn-dark:focus {
    outline: none;
    box-shadow: none;
  }
  